In [49]:
#Import Libraries
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import association_rules,apriori
import warnings
warnings.filterwarnings('ignore')

In [50]:
df = pd.read_excel(r'C:\Users\Dell\Downloads\Association Rules\Association Rules\Online retail.xlsx')
df

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]

In [51]:
#Data Preprocessing:
df.dtypes

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    object
dtype: object

In [52]:
df.iloc[0]

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    burgers,meatballs,eggs
Name: 0, dtype: object

In [53]:
df.isnull().sum()

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
dtype: int64

In [54]:
txt = 'burgers,meatballs,eggs'

In [55]:
def txt_split(txt):
    return txt.split(',')

In [56]:
txt_split('burgers,meatballs,eggs')

['burgers', 'meatballs', 'eggs']

In [57]:
data = df['shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil'].apply(txt_split)

In [58]:
data

0                              [burgers, meatballs, eggs]
1                                               [chutney]
2                                       [turkey, avocado]
3       [mineral water, milk, energy bar, whole wheat ...
4                                        [low fat yogurt]
                              ...
7495                    [butter, light mayo, fresh bread]
7496    [burgers, frozen vegetables, eggs, french frie...
7497                                            [chicken]
7498                                [escalope, green tea]
7499    [eggs, frozen smoothie, yogurt cake, low fat y...
Name: shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil, Length: 7500, dtype: object

In [59]:
#Association Rule Mining:
from mlxtend.preprocessing import TransactionEncoder

In [60]:
te = TransactionEncoder()
encoded_df = te.fit_transform(data)

In [61]:
encoded_df

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False]])

In [62]:
te.columns_

[' asparagus',
 'almonds',
 'antioxydant juice',
 'asparagus',
 'avocado',
 'babies food',
 'bacon',
 'barbecue sauce',
 'black tea',
 'blueberries',
 'body spray',
 'bramble',
 'brownies',
 'bug spray',
 'burger sauce',
 'burgers',
 'butter',
 'cake',
 'candy bars',
 'carrots',
 'cauliflower',
 'cereals',
 'champagne',
 'chicken',
 'chili',
 'chocolate',
 'chocolate bread',
 'chutney',
 'cider',
 'clothes accessories',
 'cookies',
 'cooking oil',
 'corn',
 'cottage cheese',
 'cream',
 'dessert wine',
 'eggplant',
 'eggs',
 'energy bar',
 'energy drink',
 'escalope',
 'extra dark chocolate',
 'flax seed',
 'french fries',
 'french wine',
 'fresh bread',
 'fresh tuna',
 'fromage blanc',
 'frozen smoothie',
 'frozen vegetables',
 'gluten free bar',
 'grated cheese',
 'green beans',
 'green grapes',
 'green tea',
 'ground beef',
 'gums',
 'ham',
 'hand protein bar',
 'herb & pepper',
 'honey',
 'hot dogs',
 'ketchup',
 'light cream',
 'light mayo',
 'low fat yogurt',
 'magazines',
 'mashed potato',
 'mayonnaise',
 'meatballs',
 'melons',
 'milk',
 'mineral water',
 'mint',
 'mint green tea',
 'muffins',
 'mushroom cream sauce',
 'napkins',
 'nonfat milk',
 'oatmeal',
 'oil',
 'olive oil',
 'pancakes',
 'parmesan cheese',
 'pasta',
 'pepper',
 'pet food',
 'pickles',
 'protein bar',
 'red wine',
 'rice',
 'salad',
 'salmon',
 'salt',
 'sandwich',
 'shallot',
 'shampoo',
 'shrimp',
 'soda',
 'soup',
 'spaghetti',
 'sparkling water',
 'spinach',
 'strawberries',
 'strong cheese',
 'tea',
 'tomato juice',
 'tomato sauce',
 'tomatoes',
 'toothpaste',
 'turkey',
 'vegetables mix',
 'water spray',
 'white wine',
 'whole weat flour',
 'whole wheat pasta',
 'whole wheat rice',
 'yams',
 'yogurt cake',
 'zucchini']

In [63]:
data = pd.DataFrame(encoded_df, columns=te.columns_)
data

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [64]:
data.replace([True,False],[1,0], inplace=True)

In [65]:
data

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [66]:
data.shape

(7500, 120)

In [69]:
scores = apriori(data,min_support = 0.001, use_colnames=True)
scores

       support                                           itemsets
0     0.020267                                          (almonds)
1     0.008800                                (antioxydant juice)
2     0.004667                                        (asparagus)
3     0.033200                                          (avocado)
4     0.004533                                      (babies food)
...        ...                                                ...
6751  0.001467  (mineral water, frozen vegetables, tomatoes, s...
6752  0.001200  (mineral water, turkey, frozen vegetables, spa...
6753  0.001067  (mineral water, frozen vegetables, tomatoes, s...
6754  0.001067  (mineral water, pancakes, herb & pepper, groun...
6755  0.001067  (mineral water, frozen vegetables, ground beef...

[6756 rows x 2 columns]

In [70]:
rules = association_rules(scores)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"(bacon, pancakes)",(spaghetti),0.002133,0.174133,0.001733,0.812500,4.665965,0.001362,4.404622,0.787362
1,"(frozen smoothie, black tea)",(milk),0.001467,0.129600,0.001200,0.818182,6.313131,0.001010,4.787200,0.842836
2,"(salmon, black tea)",(mineral water),0.001333,0.238267,0.001067,0.800000,3.357583,0.000749,3.808667,0.703104
3,"(chicken, protein bar)",(spaghetti),0.001467,0.174133,0.001200,0.818182,4.698594,0.000945,4.542267,0.788327
4,"(red wine, tomato sauce)",(chocolate),0.001333,0.163867,0.001067,0.800000,4.882018,0.000848,4.180667,0.796228
...,...,...,...,...,...,...,...,...,...,...
68,"(milk, olive oil, frozen vegetables, soup)",(mineral water),0.001467,0.238267,0.001200,0.818182,3.433891,0.000851,4.189533,0.709826
69,"(shrimp, milk, frozen vegetables, spaghetti)",(mineral water),0.001733,0.238267,0.001467,0.846154,3.551289,0.001054,4.951267,0.719660
70,"(milk, frozen vegetables, turkey, spaghetti)",(mineral water),0.001333,0.238267,0.001200,0.900000,3.777280,0.000882,7.617333,0.736241
71,"(tomatoes, mineral water, frozen vegetables, o...",(spaghetti),0.001333,0.174133,0.001067,0.800000,4.594181,0.000834,4.129333,0.783378
72,"(mineral water, ground beef, spaghetti, chocol...",(frozen vegetables),0.001200,0.095333,0.001067,0.888889,9.324009,0.000952,8.142000,0.893823

In [71]:
rules.sort_values(by = 'lift', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
34,"(eggs, mineral water, pasta)",(shrimp),0.001467,0.071333,0.001333,0.909091,12.744265,0.001229,10.215333,0.922887
36,"(french fries, mushroom cream sauce, pasta)",(escalope),0.001067,0.079333,0.001067,1.000000,12.605042,0.000982,inf,0.921650
9,"(pasta, milk)",(shrimp),0.001867,0.071333,0.001600,0.857143,12.016021,0.001467,6.500667,0.918492
6,"(mushroom cream sauce, pasta)",(escalope),0.002667,0.079333,0.002533,0.950000,11.974790,0.002322,18.413333,0.918942
72,"(mineral water, ground beef, spaghetti, chocol...",(frozen vegetables),0.001200,0.095333,0.001067,0.888889,9.324009,0.000952,8.142000,0.893823
...,...,...,...,...,...,...,...,...,...,...
38,"(escalope, hot dogs, milk)",(mineral water),0.001333,0.238267,0.001067,0.800000,3.357583,0.000749,3.808667,0.703104
45,"(rice, grated cheese, ground beef)",(mineral water),0.001333,0.238267,0.001067,0.800000,3.357583,0.000749,3.808667,0.703104
58,"(chocolate, eggs, olive oil, milk)",(mineral water),0.001333,0.238267,0.001067,0.800000,3.357583,0.000749,3.808667,0.703104
53,"(spaghetti, strong cheese, milk)",(mineral water),0.001333,0.238267,0.001067,0.800000,3.357583,0.000749,3.808667,0.703104
32,"(eggs, olive oil, cooking oil)",(mineral water),0.001333,0.238267,0.001067,0.800000,3.357583,0.000749,3.808667,0.703104

# Interview Questions:

What is lift and why is it important in Association rules?

In [ ]:
#Lift measures the strength of an association rule by comparing the observed co-occurrence of items to their expected co-occurrence if they were independent.
#It is important because a lift value greater than 1 indicates a positive association, while a value less than 1 indicates a negative association.

What is support and Confidence. How do you calculate them?

In [ ]:
#Support:This measure gives an idea of how frequent an itemset is in all the transactions.
#Support(X,Y)= Transcation containing both X and Y
#              TotalÂ numberÂ ofÂ transactions

#Confidence: This measure defines the likeliness of occurrence of consequent on the cart given that the cart already has the antecedents.
#Confidence(X,Y)=    Transcation containing both X and Y
#                    Transcation containing X

What are some limitations or challenges of Association rules mining?

In [ ]:
#Association rule mining can generate an overwhelming number of rules, many of which may be trivial or redundant, 
#and it can struggle with handling large datasets efficiently, leading to high computational costs. 
#Additionally, it may not capture complex relationships beyond simple co-occurrences.